<%= form_for([:account, @message]) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize([:account, @message].errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% [:account, @message].errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for [:account, @message] do |f| %>

  <p><%= f.label :to %></p>
  <p><%= f.telephone_field :to_number %></p>
  <p><%= f.label :body %></p>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit "Send Message" %></p>

<% end %>
</div>
<% end %>
