<p id="notice"><%= notice %></p>

Patient Name: <%= @schedule.account.patient_name %><br>
Frequency: <%= @schedule.frequency_hours %><br>
Primary Phone: <%= @schedule.account.phone %><br>
<br>
<%= link_to 'Edit', edit_account_schedule_path(@schedule) %> |
<%= link_to 'Back', account_schedules_path %>
<%= console %>
