<% if current_user && current_user.id == @account.id %>


  Patient Name: <%= @schedule.account.patient_name %><br>
  Frequency: <%= @schedule.frequency_hours %><br>
  Primary Phone: <%= @schedule.account.phone %><br>
  <br>


  <p id="notice"><%= notice %></p>
  <p>This scheduled notification started at <%= @schedule.schedule_time.utc.to_formatted_s(:long_ordinal) %></p>
  <p>with a frequency of <em><%= @schedule.frequency_hours %></em> hours.</p>
  <p><%= link_to 'Edit', edit_account_schedule_path(@account.id, @schedule.id) %> | <%= link_to 'Back', account_path(@account.id) %></p>


  <h2>Messages regarding this scheduled notification</h2>

  <div class="trigger_container">
    <h4 class="trigger">Incoming messages</h4>

    <div class="messages">

      <% @incoming_messages.each do |message| %>
      <div class="message">
        <p>
          This message was sent by
          <%= message.from_number == message.account.phone ? message.account.name : (message.from_number == message.account.secondary_phone ? message.account.secondary_name : message.account.emergency_name) %>
        </p>
        <p><em><%= message.body %></em></p>
      </div>
      <% end%>
    </div>
  </div>

  <div class="trigger_container">
    <h4 class="trigger">Sent but not (yet) answered messages</h4>

    <div class="messages">

      <% @notyet_messages.each do |message| %>
      <div class="message">
        <p>
          This message was sent to
          <%= message.to_number == message.account.phone ? message.account.name : (message.to_number == message.account.secondary_phone ? message.account.secondary_name : message.account.emergency_name) %>
          and has not been answered (yet).
        </p>
        <p><em><%= message.body %></em></p>
      </div>
      <% end%>
    </div>
  </div>

  <div class="trigger_container">
    <h4 class="trigger">Unanswered messages</h4>

    <div class="messages">
      <% @not_messages.each do |message| %>
      <div class="message">
        <p>
          This message was sent to
          <%= message.to_number == message.account.phone ? message.account.name : (message.to_number == message.account.secondary_phone ? message.account.secondary_name : message.account.emergency_name) %>
          and has not been answered.
        </p>
        <p><em><%= message.body %></em></p>
      </div>
      <% end%>
    </div>
  </div>

  <div class="trigger_container">
    <h4 class="trigger">Sent and answered messages</h4>

    <div class="messages">

      <% @answered_messages.each do |message| %>
      <div class="message">
        <p>
          This message was sent to
          <%= message.to_number == message.account.phone ? message.account.name : (message.to_number == message.account.secondary_phone ? message.account.secondary_name : message.account.emergency_name) %>
          .
        </p>
        <p><em><%= message.body %></em></p>
      </div>
      <% end%>
    </div>
  </div>
<% elsif current_user %>
  <%= link_to "Go to your account", account_path(current_user) %>
<% else %>
<% end %>
