<!DOCTYPE html>
<html>
  <head>
    <title>DementiApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
          <ul class="navlist">
            <% if current_user %>
              <li class="navelement"><%= link_to "My_data", account_path(current_user.id) %></li>
              <li class="navelement"><%= link_to "Sign Out", :logout, method: :post %></li>
            <% else %>
              <li class="navelement"><%= link_to "Sign In", new_account_session_path %></li>
              <li class="navelement"><%= link_to "Registration", new_account_path %></li>
            <% end %>
          </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
