<!DOCTYPE html>
<html>
  <head>
    <title>Memini</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'logo', id: "logo" %>

      <nav class="navbar">
          <ul class="navlist">
            <% if current_user %>
              <li class="navelement"><%= link_to "My Account", account_path(current_user.id) %></li>
              <li class="navelement"><%= link_to "Sign Out", :logout, method: :post %></li>
            <% else %>
              <li class="navelement"><%= link_to "Sign In", new_account_session_path %></li>
              <li class="navelement"><%= link_to "Registration", new_account_path %></li>
            <% end %>
          </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
