<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="caregivers">
    <h2>Caregivers</h2>
    <div class="field">
      <%= f.label :email, "Email address" %><br>
      <%= f.text_field :email, placeholder: "eg. ex@mp.le" %>
    </div>
    <div class="field">
      <%= f.label :password, "Password" %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :name, "Primary Caregiver's Name" %><br>
      <%= f.text_field :name, placeholder: "eg. Queen Elizabeth II" %>
    </div>
    <div class="field">
      <%= f.label :phone, "Primary Caregiver's Phone Number" %><br>
      <%= f.text_field :phone, placeholder: "eg. +12345678910" %>
    </div>
    <div class="field">
      <%= f.label :secondary_name, "Secondary Caregiver's Name" %><br>
      <%= f.text_field :secondary_name, placeholder: "eg. prime minister Justin Trudeau" %>
    </div>
    <div class="field">
      <%= f.label :secondary_email, "Secondary Caregiver's Email" %><br>
      <%= f.text_field :secondary_email, placeholder: "eg. trudeau@canada.ca" %>
    </div>
    <div class="field">
      <%= f.label :secondary_phone, "Secondary Caregiver's Phone" %><br>
      <%= f.text_field :secondary_phone, placeholder: "eg. +12345678910" %>
    </div>
    <div class="field">
      <%= f.label :emergency_name, "Emergency Caregiver's Name" %><br>
      <%= f.text_field :emergency_name, placeholder: "eg. Mayor John Tory" %>
    </div>
    <div class="field">
      <%= f.label :emergency_phone, "Emergency Caregiver's Phone" %><br>
      <%= f.text_field :emergency_phone, placeholder: "eg. +12345678910" %>
    </div>
  </div>
  <div class="patient">
    <h2>Patient info</h2>
    <div class="field">
      <%= f.label :patient_name, "Patient's Name" %><br>
      <%= f.text_field :patient_name, placeholder: "eg. Johnny Black" %>
    </div>
    <div class="field">
      <%= f.label :patient_number, "Patient's Phone Number" %><br>
      <%= f.text_field :patient_number, placeholder: "eg. +12345678910" %>
    </div>
    <div class="field">
      <%= f.label :patient_address, "Patient's Home Address" %><br>
      <%= f.text_field :patient_address, placeholder: "eg. 101 College st, apt. 203" %>
    </div>
    <div class="field">
      <%= f.label :patient_notes, "Patient Notes (Information to send to caregivers in case of emergency)" %><br>
      <%= f.text_area :patient_notes, placeholder: "eg. the extra key is under the flowerpot!" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
