<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="caregivers">
    <h2>Your Information</h2>
    <div class="field">
      <%= f.label :name, "Name" %><br>
      <%= f.text_field :name, placeholder: "eg. Queen Elizabeth II" %>
    </div>
    <div class="field">
      <%= f.label :phone, "Phone Number" %><br>
      <%= f.text_field :phone, placeholder: "eg. +12345678910", required: true %>
    </div>
    <div class="field">
      <%= f.label :email, "Email address" %><br>
      <%= f.text_field :email, placeholder: "eg. ex@mp.le", required: true %>
    </div>
    <div class="field">
      <%= f.label :password, "Password" %><br>
      <%= f.password_field :password, required: true %>
  </div>
<% end %>
